figure {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

    figure img {
        margin-bottom: 0;
    }

    figure figcaption {
        color: gray;
        text-align: center;
        padding-top: 0;
    }

figure.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    figure.shadow figcaption {
        text-align: center;
        padding-top: 20px;
    }
    figure figcaption.eqncaption {
        font-style: italic;
    }

.w10 { width: 10%; margin-left: auto; margin-right: auto; }
.w20 { width: 20%; margin-left: auto; margin-right: auto; }
.w30 { width: 30%; margin-left: auto; margin-right: auto; }
.w40 { width: 40%; margin-left: auto; margin-right: auto; }
.w50 { width: 50%; margin-left: auto; margin-right: auto; }
.w60 { width: 60%; margin-left: auto; margin-right: auto; }
.w70 { width: 70%; margin-left: auto; margin-right: auto; }
.w80 { width: 80%; margin-left: auto; margin-right: auto; }
.w90 { width: 90%; margin-left: auto; margin-right: auto; }
.w100 { width: 100%; margin-left: auto; margin-right: auto; }
