<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css">
<footer class="site-footer">
  <div class="site-footer-links">
    <span class="site-footer-home"><a href="/">Home</a></span>
    <span class="site-footer-about"><a href="/about">About</a></span>
    <span class="site-footer-lang">
      <a><span class="flag-icon flag-icon-us"></span></a>
      <a href="https://kr.endtoend.ai"><span class="flag-icon flag-icon-kr"></span></a>
    </span>
  </div>
</footer>
