  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><a href="/">{{ site.title }}</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Navigation -->
      <nav class="mdl-navigation mdl-cell--hide-phone">
          <a class="mdl-navigation__link" href="/about">ABOUT</a>
          <a class="mdl-navigation__link" href="/blog">BLOG</a>

          <!-- <a class="mdl-navigation__link" href="" style="padding:0 6px;"><span class="flag-icon flag-icon-us"></span></a>
          <a class="mdl-navigation__link" href="https://kr.endtoend.ai" style="padding:0 6px;"><span class="flag-icon flag-icon-kr"></span></a> -->
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/about">About</a>
      <a class="mdl-navigation__link" href="/blog">Blog</a>
      <!-- <p class="mdl-navigation__link">
        <span>Language:</span>
        <a href="" style="padding: 0 3px;"><span class="flag-icon flag-icon-us"></span></a>
        <a href="https://kr.endtoend.ai" style="padding: 0 3px;"><span class="flag-icon flag-icon-kr" ></span></a>
      </p> -->
    </nav>

  </div>

