<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | endtoendAI {% else %}endtoendAI{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}<meta name="image" content="{{ page.image | prepend: site.base_url | prepend: site.url }}">{% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:site"    content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">

  <meta name="twitter:url"   content="{{ page.url }}">
  <meta name="og:url"   content="{{ page.url }}">

  <meta name="twitter:title"   content="{{ page.title }}">
  <meta name="og:title"   content="{{ page.title }}">
  {% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt }}">
  <meta name="og:description" content="{{ page.excerpt }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="og:description" content="{{ page.excerpt }}">
  {% endif %}
  
  {% if page.image %}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
  <meta name="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
  {% else %}
  <meta name="twitter:card"  content="summary">
  <meta name="twitter:image" content="{{ site.title_image | prepend: site.baseurl | prepend: site.url }}">
  <meta name="og:image" content="{{ site.title_image | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117425613-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117425613-1');
  </script>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script>
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: false
      },
      TeX: {
        TagSide: "right",
        TagIndent: ".8em",
        MultLineWidth: "85%",
        equationNumbers: {
          autoNumber: "AMS",
        },
        unicode: {
          fonts: "STIXGeneral,'Arial Unicode MS'"
        }
      },
    showProcessingMessages: false
  });
  </script>

  {% for javascript in page.custom-js %}
      <script src="{{ javascript }}"></script>
  {% endfor %}

  {% for css in page.custom-css %}
    <link href="{{ css }}" rel="stylesheet">
  {% endfor %}

  <!-- Material Design Lite css Library -->
  <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"> -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
  
  <!-- Material Design Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- Flag Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css">

  <!-- Custom theme css -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
