<div id="revue">
  <form action="https://www.getrevue.co/profile/seungjaeryanlee/add_subscriber" method="post" id="revue--form" name="revue-form"  target="_blank">
    <h3>Subscribe to RL Weekly</h3>
    <p>Get the highlights of reinforcement learning in both research and industry every week.</p>
    <div class="mdl-grid" style="margin-botton: 40px;">
      <div id="revue--form--email" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet  mdl-cell--12-col-phone">
        <label id="revue--form--email--label" for="member_email" class="mdl-textfield__label">Email</label>
        <input id="revue--form--email--input" class="revue-form-field mdl-textfield__input" type="email" name="member[email]" id="member_email">
      </div>
      <div id="revue--form--submit" class="revue-form-actions mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet  mdl-cell--12-col-phone">
        <input id="revue--form--submit--button" type="submit" value="Subscribe" name="member[subscribe]" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
      </div>
    </div>
  </form>
</div>
