/* Reference 1: https://developers.google.com/machine-learning/rules-of-ml/ */
/* Referencc 2: Medium */
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.post-main {
    h1 {
        font: 400 32px/40px Google Sans,sans-serif;
    }
    h2 {
        font: 400 22px/30px Google Sans,sans-serif;
    }
    h3 {
        font: 400 20px/32px Roboto,sans-serif;
    }
    h4 {
        font: 500 16px/24px Roboto,sans-serif;
    }
    h5 {
        font: 700 14px/24px Roboto,sans-serif;
    }
    h6 {
        font: 500 14px/24px Roboto,sans-serif;
    }

    p, a, li {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.004em;
        line-height: 1.58;
    }
    p {
        color: rgba(0, 0, 0, 0.84);
    }
    // Fix Buttons
    .mdl-button {
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 14px;
        line-height: 36px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(63,81,181);
}
a {
    text-decoration: none;
}
