/**
 * Style from Minima
 */
$spacing-unit:     30px !default;
$base-font-size:   16px !default;
$small-font-size:  $base-font-size * 0.875 !default;
$grey-color:       #828282 !default;

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

.post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-title {
    /* HACK: Override style in main SCSS file */
    margin-top: 0 !important;
}

.post-link {
    @include relative-font-size(1.5);
}
