html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.main-content {
    flex: 1 0 auto;
}
.site-footer {
    flex-shrink: 0;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
    .site-footer-links {
        max-width: 64rem;
        margin: 0 auto;
    }
        .site-footer a {
            color: #fff;
            transition: 0.4s;
            margin: 0 10px;
        }
        .site-footer span a:hover {
            text-decoration: none;
            color: #bbb;
        }
        .site-footer-lang {
            float: right;
        }
