/* From Cayman theme */
code, pre, code.highlight, pre.highlight {
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    text-decoration-line: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}