#posts {
    .post-container {
        text-decoration: none;
        color: rgba(0,0,0,.54);
        
        transition: 0.5s;
        width: 100%;

        .post {
            min-height: 200px;
            width: 100%;

            .post__summary {

                .post__summary__tags {
                    margin: 10px 0;
            
                    .post__summary__tags__tag {
                        margin: 2px 0;
                        padding: 5px;
                        border: 1px solid darkgray;
                        border-radius: 2px;
                        font-size: 1em;
                        display: inline-block;
                    }
                }
            
                .post__summary__text {
                    padding-left: 0;
                }
            }
            .post__summary:hover {
                box-shadow: none;
            }
        }
        .post:hover {
            box-shadow: 0 8px 8px 0 rgba(0,0,0,.14), 0 12px 4px -8px rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.12);
        }
    }
}
