.mdl-grid {
    padding: 4px 8px;
}

.mdl-card > a {
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
    min-height: 280px;
}
.mdl-card:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.14), 0 12px 4px -8px rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.12);
}
.mdl-card__title-text {
    font-weight: 800;
    font-size: 18px;
    color: black;
    margin: 12px 0 12px;
    padding: 0 10px;
}
.mdl-card__supporting-text p {
    padding: 0 10px;
    font-size: 14px;
    line-height: 16px;
}

#featured-card {
    height: 400px;
    margin: 8px 8px 0 8px;
    .mdl-card__media {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .mdl-card__title {
        height: auto;
    }
    .mdl-card__title-text {
        padding: 0;
        font-size: 40px;
    }
    .mdl-card__supporting-text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 767px) {
    // #featured-card {
    //     padding: 0px;
    //     margin: 8px;
    //     height: auto;
    //     .mdl-card__media {
    //         display: none;
    //     }
    // }
    #featured-card {
        display: none;
    }
}