.post-main {

    h1, h2, h3 {
        margin: 48px 0 24px;
    }
    h4, h5, h6 {
        margin: 32px 0 16px;
    }
    p, a, pre {
        // Separate paragraphs
        margin-top: 2em;
        margin-bottom: -0.46em;
    }
    img, video {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
.post-section {
    .post-section__tags, .post-section__info {
        margin-top: 16px;
    }
    .post-section__tags__tag {
        margin: 2px 4px 2px 0;
        padding: 4px 6px;
        border: 1px solid #555;
        border-radius: 4px;
        font-size: 1em;
        display: inline-block;
        text-decoration: none;
        color: #555;
        transition: .2s;
    }
    .post-section__tags__tag:hover {
        color: white;
        background-color: darkgray;
    }
}

.max-width-600 {
    .post-section__tags, .post-section__info, #revue {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, pre {
        // Shorter width and centered
        // Not done to div itself to allow for longer width images
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .facebook-responsive, .youtube-responsive, iframe {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

#related_posts {

    .related_post {
        padding-top: calc(29.41%);

        .related_post__info {
            padding: 12px;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            bottom: 0;

            .related_post__info__title {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
