.post-section--tags--tag {
    margin: 2px 0;
    padding: 2px 5px;
    border: 1px solid darkgray;
    border-radius: 2px;
    font-size: 0.8em;
    display: inline-block;
    text-decoration: none;
    color: darkgray;
    transition: .2s;
}
.post-section--tags--tag:hover {
    color: white;
    background-color: darkgray;
}
