.post-section {
    .post-section__tags__tag {
        margin: 2px 4px 2px 0;
        padding: 4px 6px;
        border: 1px solid #555;
        border-radius: 4px;
        font-size: 1em;
        display: inline-block;
        text-decoration: none;
        color: #555;
        transition: .2s;
    }
    .post-section__tags__tag:hover {
        color: white;
        background-color: darkgray;
    }
}