#papers-search-div {
    margin: 0 auto;
    display: block;
    width: 600px;
}

#papers {

    .paper {
        padding-top: calc(29.41%);

        .paper__info {
            padding: 12px;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            bottom: 0;

            .paper__info__title,
            .paper__info__spacer,
            .paper__info__authors {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
