---
layout: page
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

<main>
    <!-- <p>
        <b>endtoendAI</b> is a website maintained by Seungjae Ryan Lee.
    </p>
    <p>
        We seek to provide high quality information on
        different aspects of Artificial Intelligence, including Machine 
        Learning, Reinforcement Learning, and Computer Vision.
    </p> -->

    <div class="bio" style="margin: 20px 0;">
        <!-- <h2 style="margin-bottom: 0;">Seungjae Ryan Lee</h2> -->
        <div class="bio__links" style="margin: 0 auto;">
            <a class="sns_btn btn_github" href="https://github.com/seungjaeryanlee" rel="author">
                <i class="fa fa-github fa-2x"></i>
            </a>
            <a class="sns_btn btn_linkedin" href="https://www.linkedin.com/in/seungjaeryanlee/" rel="author">
                <i class="fa fa-linkedin fa-2x"></i>
            </a>
            <a class="sns_btn btn_twitter" href="https://twitter.com/seungjaeryanlee" rel="author">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a class="sns_btn btn_scholar" href="https://scholar.google.com/citations?user=ImhAMbgAAAAJ&hl=en" rel="author">
                <i class="ai ai-google-scholar ai-2x"></i>
            </a>
            <a class="sns_btn btn_email" href="mailto:seungjaeryanlee@gmail.com" rel="author">
                <i class="fa fa-envelope fa-2x"></i>
            </a>
        </div>
        <p>
            I am a third-year (junior) undergraduate student at Princeton University, majoring in Mathematics and minoring in Machine Learning and Computer Science. I learned the fundamentals of deep learning and reinforcement learning through textbooks and online courses.
            Now, I am reading and implementing research papers to improve my skills while contributing to several open-source projects.
        </p>
        <p>
            <b>I am looking for a software engineer or machine learning internship for Summer 2020!</b>
        </p>
    </div>
    <div class="mdl-layout-spacer"></div>
</main>
