---
layout: page
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<main>
    <p>
        <b>endtoendAI</b> is a website maintained by Seungjae Ryan Lee.
    </p>
    <p>
        We seek to provide high quality information on
        different aspects of Artificial Intelligence, including Machine 
        Learning, Reinforcement Learning, and Computer Vision.
    </p>

    <div class="bio" style="margin: 20px 0;">
        <h2 style="margin-bottom: 0;">Seungjae Ryan Lee</h2>
        <div class="bio__links" style="margin: 0 auto;">
            <a class="sns_btn btn_github" href="https://github.com/seungjaeryanlee" rel="author">
                <i class="fa fa-github"></i>
            </a>
            <a class="sns_btn btn_linkedin" href="https://www.linkedin.com/in/seungjaeryanlee/" rel="author">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="sns_btn btn_twitter" href="https://twitter.com/seungjaeryanlee" rel="author">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="sns_btn btn_email" href="mailto:seungjaeryanlee@gmail.com" rel="author">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
        <p>
            I study math at Princeton University. I learned the fundamentals of deep learning and reinforcement learning through textbooks and online courses.
            Now, I am reading and implementing research papers to improve my skills, while also contributing to several open-source projects.
        </p>
    </div>
    <div class="mdl-layout-spacer"></div>
</main>
