---
layout: page
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<main class="mdl-layout__content">
    <p>
        <b>endtoendAI</b> is a website maintained by Seungmin Brian Lee and
        Seungjae Ryan Lee.
    </p>
    <p>
        We seek to provide high quality information on
        different aspects of Artificial Intelligence, including Machine 
        Learning, Deep Learning, Reinforcement Learning, and Computer Vision.
    </p>

    <div class="bio" style="margin: 20px 0;">
        <h2 style="margin-bottom: 0;">Seungmin Brian Lee</h2>
        <a href="https://github.com/briansmlee"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/seungminbrianlee/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <p>
            I am a computer science major at Columbia University graduating in May 2019.
            Currently, I am studying distributed systems, C++ (with Prof. Bjarne Stroustrup!), and deep learning.
        </p>
    </div>
    <div class="bio" style="margin: 20px 0;">
        <h2 style="margin-bottom: 0;">Seungjae Ryan Lee</h2>
        <a href="https://github.com/seungjaeryanlee"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/seungjaeryanlee/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <p>
            I study math at Princeton University. I learned the fundamentals of deep learning and reinforcement learning through textbooks and online courses.
            Now, I am reading and implementing research papers to improve my skills, while also contributing to several open-source projects.
        </p>
    </div>
    <div class="mdl-layout-spacer"></div>
</main>
