---
layout: default
---
<style>
  .page-content > .mdl-grid > a {
      text-decoration: none;
      color: rgba(0,0,0,.54);
      
      transition: 0.5s;
      width: 100%;
  }
  .section-highlight {
      min-height: 200px;
  }
  .section-highlight:hover {
      box-shadow: 0 8px 8px 0 rgba(0,0,0,.14), 0 12px 4px -8px rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.12);
  }
</style>
<div class="page-content">
  <div class="mdl-grid">
    {% for post in site.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="section-highlight section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="width: auto;">

          <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" style="background: url('{{ post.front_image }}') center no-repeat white; background-size: cover;"></header>
          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>{{ post.title }}</h4>
              <p>{{ post.front_text }}</p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
