---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">
    {% for post in site.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="section-highlight section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="width: auto;">
          {% if post.front_image_type == 'contain' %}
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" style="background: url('{{ post.front_image }}') center no-repeat white; background-size: contain;"></header>
          {% else %}
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" style="background: url('{{ post.front_image }}') center no-repeat white; background-size: cover;"></header>
          {% endif %}
          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>{{ post.title }}</h4>
              <div class="post--tags">
                {% for tag in post.tags %}
                  <span class="post--tags--tag"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ tag }}</span>
                {% endfor %}
              </div>
              <p class="post--text">{{ post.front_text }}</p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
