---
layout: default
---
<script type="text/javascript" src="/assets/scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/assets/scripts/search.js"></script>
<main class="mdl-layout__content">
  <div class="page-content">
    <form action="#">
      <div id="papers-search-div" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="papers-search-box" oninput="javascript:doSearch();">
        <label class="mdl-textfield__label" for="papers-search-box">Search</label>
      </div>
    </form>
    <div id="papers" class="mdl-grid">
      {% for paper in page.papers %}
          <a href="{{ paper.url }}" class="paper mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
            <div class="paper__info">
              <span class="paper__info__title">{{ paper.title }}</span>
              <span class="paper__info__spacer"> - </span>
              <span class="paper__info__authors">{{ paper.authors }}</span>
            </div>
        </a>
      {% endfor %}
    </div>
  </div>
</main>
