---
layout: default
---
<main id="home" class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <div class="featured-card mdl-card mdl-card__hover-shadow mdl-shadow--2dp mdl-card--horizontal">
        <a href="{{ site.featured_page.link }}">
          <div class="featured-card__image mdl-card__media" style="background-image: url('{{ site.featured_page.image_url }}'); background-size: {{ site.featured_page.cover_or_contain }};"></div>
          <div class="featured-card__title mdl-card__title">
            <h2 class="featured-card__title__text mdl-card__title-text">Featured: {{ site.featured_page.title }}</h2>
          </div>
          <div class="featured-card__text mdl-card__supporting-text">
            {{ site.featured_page.supporting_text }}
          </div>
        </a>
      </div>
    </div>
    <div class="mdl-grid">
      {% for link in site.front_page_links %}
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
          <a href="{{ link.url }}">
            {% if link.image_type == 'cover' %}
              <div class="mdl-card__title" {% if link.image %} style="margin: 0; height: 160px; background: url('{{ link.image }}') center no-repeat white; background-size: cover;" {% endif %}></div>
            {% else %}
              <div class="mdl-card__title" {% if link.image %} style="margin: 10px 0; height: 140px; background: url('{{ link.image }}') center no-repeat white; background-size: contain;" {% endif %}></div>
            {% endif %}
            <div class="mdl-card__supporting-text">
              <h2 class="mdl-card__title-text">{{ link.name }}</h2>
              <p>{{ link.description }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</main>
